.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  width: 600px;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
  color: #763edd;
}
.inputContainer {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}
.input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}
.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #763edd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background-color: #763edd;
  box-shadow:5px 5px 50px #7b37f8;
}
.taskList {
  list-style: none;
  padding: 0;
  width: 300px;
}
.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #f9f9f9;
  border-radius: 8px;
  color: #000;
}
.deleteButton {
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.deleteButton:hover {
  background-color: #cc0000;
  box-shadow:5px 5px 50px #cc0000;
}